@model IEnumerable<OrtResponde.Models.Answer>

@{
    ViewData["Title"] = "Mis Respuestas";
}

<h1>Mis Respuestas</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Respuesta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Question.Descripcion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Respuesta)
            </td>
            <td>
                <a class="nostyle" asp-action="Details" asp-controller="Questions" asp-route-id="@item.QuestionId">
                    @item.Question.Descripcion
                </a>
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id"> <i data-feather="edit"></i> Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id"> <i data-feather="file-text"></i>Detalle</a> |
                @*<a asp-action="Delete" asp-route-id="@item.Id"> <i data-feather="trash-2"></i>Borrar</a>*@
                <a id="idasd" href="#" class="btnPush"><i data-feather="trash-2"></i>Borrar</a>@await Html.PartialAsync("_DeleteModal.cshtml", item)

            </td>
        </tr>
}
    </tbody>
</table>
