@{
    ViewData["Title"] = "Home Page";
}
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@model IEnumerable<OrtResponde.Models.Question>

@if (SignInManager.IsSignedIn(User))
{

    <div class="text-center">
        <h1 class="display-4">Welcome Hello @User.Identity.Name</h1>

        <table class="table">
            <thead>
                <tr>
                    <th>
                        Preguntas
                    </th>
                    <th>
                        Respuestas
                    </th>
                    <th>
                        Likes
                    </th>
                    <th>
                        Dislikes
                    </th>

                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in (List<Question>)ViewData["Questions"])
                {
                    <tr>
                        <td>
                            @item.Descripcion
                        </td>
                        <td>
                            @item.Answers.Count()
                        </td>
                        <td>
                            @item.Likes
                        </td>
                        <td>
                            @item.Dislikes
                        </td>

                        <td>
                            <a asp-action="Create" asp-controller="Answers" asp-route-questionId="@item.Id">Responder</a>

                        </td>
                    </tr>
                }
            </tbody>
        </table>


        @foreach (var item in (List<Question>)ViewData["Questions"])
        {

            <h2> @item.Descripcion</h2>

            <section class="post-footer">
                <hr>
                <div class="post-footer-option container">
                    <ul class="list-unstyled">

                        <li> <i data-feather="thumbs-up"></i> @item.Likes</li>
                        <li><i data-feather="thumbs-down"></i> @item.Dislikes</li>
                        <li><i data-feather="message-circle"></i> @item.Answers.Count()</li>
                        <li><a asp-action="Create" asp-controller="Answers" asp-route-questionId="@item.Id"><i data-feather="arrow-right"></i> Responder</a></li>
                    </ul>
                </div>
            </section>
        }


    </div>
}
else
{


    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>
}

<style>
    .comment_box1 {
        background-color: #f00;
        width: 830px;
        height: 180px;
    }
    /*-- Content Style --*/
    .post-footer-option li {
        float: left;
        margin-right: 50px;
        padding-bottom: 15px;
    }

        .post-footer-option li a {
            color: #AFB4BD;
            font-weight: 500;
            font-size: 1.3rem;
        }

    .photo-profile {
        border: 1px solid #DDD;
    }

    .anchor-username h4 {
        font-weight: bold;
    }

    .anchor-time {
        color: #ADB2BB;
        font-size: 1.2rem;
    }

    .post-footer-comment-wrapper {
        background-color: #F6F7F8;
    }
</style>


