@model OrtResponde.Models.Like
@using Microsoft.AspNetCore.Identity
@{
    ViewData["Title"] = "Details";
}

<h1>Detalles</h1>

<div>
    <h4>Like</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd class="col-sm-10">
            @*(List<IdentityUser>)ViewData["Users"]).SingleOrDefault(t => t.Id == model.UserId).UserName*@
                @*@Html.DisplayFor(model => ()*@
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LikeType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LikeType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LikedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LikedDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> 
    <a asp-action="Index">Back to List</a>
</div>
