@model IEnumerable<OrtResponde.Models.Like>
@using Microsoft.AspNetCore.Identity

@{
    ViewData["Title"] = "Mis Favoritos";
    var users = (List<IdentityUser>)ViewData["Users"];
}

<h1>Mis Favoritos</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th>
                @Html.DisplayName("Pregunta")
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LikedDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @users.SingleOrDefault(t => t.Id == item.UserId).UserName
                </td>
                <td>
                    <a class="nostyle" asp-action="Details" asp-controller="Questions" asp-route-id="@item.QuestionId">
                        @item.Question.Descripcion
                    </a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LikedDate)
                </td>
                <td>
                    @*<a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">>Delete</a>*@
                </td>
            </tr>
        }
    </tbody>
</table>
