@model IEnumerable<OrtResponde.Models.Question>

@{
    ViewData["Title"] = "Mis Preguntas";
}

<h1>Mis Preguntas</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Publicar Nueva Pregunta</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Likes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Answers)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @item.Likes.Count()
            </td>
            <td>
                @item.Answers.Count()
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id"> <i data-feather="file-text"></i>Detalle</a> |
                <a id="idasd" href="#" class="btnPush"><i data-feather="trash-2"></i>Borrar</a>@await Html.PartialAsync("_DeleteModal.cshtml", item)
            </td>
        </tr>            
        }

    </tbody>
</table>
